#A1 {
    display: none;
}

.blogs-block span[id$="IconFollow"],
.blogs-block div[id$="pnlRating"] {
    display: none;
}

/************ NSH fix 23.05.2024 for footer alignment ************/

#FOOTER {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/************ NSH fixes 08.12.2025 for related articles ************/

#MPOuterHeader p {
    margin-bottom: 0;
}

.magazine-articles .HLLandingControl .Content ul li a {
    padding: 0;
    background: transparent;
}
.magazine-articles .HLLandingControl .Content ul li .TagGroupsList {
    display: none;
}