/************ Higher Logic Resets ************/

/* stop the content overflowing to the sides, especially with negative margins on .row */
#MPOuterMost {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
/* hide .HtmlFooter and .MPBottomMenu, both of which add extra padding/whitespace */
.HtmlFooter,
.MPBottomMenu {
    display: none;
}
/* remove bottom margin from empty paragraphs (eg. in widgets) to avoid whitespace */
p:empty {
    margin-bottom: 0;
}
/* this one's not HL-specific */
/* centres all background images created using the bg image JS/ajax calls for images */
.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}
/* avoids 1px tall sections, especially when they hold JS but no content */
/* can be less specific, but might break other HL functionality */
.home .col-md-12[class*="section"] {
    min-height: 0;
}
/* allows for word breaking for emails and profile inbox messages */
body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
/* overrides the above word breaking for yes/no toggle buttons in create event */
#event-additional-details-container {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
}
/* resets the padding on col-md-12 full-width sections */
.row-full .col-md-12[class*="section"] {
    padding: 0;
}
.row-full .col-md-6[class*="section"],
.row-full .col-md-8[class*="section"],
.row-full .col-md-4[class*="section"],
.row-full .col-md-3[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* reset alerts to neutral colours */
.alert-warning, .alert-success, 
.ideation-home .alert.alert-success, 
.ideation-detail .alert.alert-success {
    color: inherit;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
}

/*** fix Add Event button styling ***/

.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right {
    float: none !important;
    text-align: right;
}
.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right + br {
    display: none;
}

@media (max-width: 768px) {
    .btn-group>.btn, .btn-group-vertical>.btn {
        float: left;
    }
}
/*** fixing non-responsive images ***/
img {
    max-width: 100%;
}

/*** fixing lack of wrapping on community settings dropdown buttons ***/
.CommunityManagementGearStatusPaddingL {
    white-space: normal;
}
/****** fix missing left-hand profile page content on my contacts page ******/
.text-muted-h2.my-contacts .col-md-3.section1 {
    display: block !important;
}

/****** CSS Site Load ******/

/*** accordions/expandable text ***/
.accordion-heading button {
    font-size: 20px;
    font-weight: 400;
    color: #0089a3; /* link colour */
    background: #fff;
    padding: 15px 10px;
    margin: 0;
    border: none;
    border-top: 1px solid #f4f4f4;
    cursor: pointer;
    transition: .3s;
    display: block;
    width: 100%;
    text-align: left;
}
.accordion-heading button:hover,
.accordion-heading button:focus {
    color: #333; /* link hover colour */
    transition: .3s;
}
.accordion-heading button::before {
    font-family: CNA; /* change to appropriate kit/unicode */
    content: '\f00f';
    color: #333; /* change  icon colour */
    margin-right: 10px;
}
.open .accordion-heading button::before {
    font-family: CNA; /* change to appropriate kit/unicode */
    content: '\f010';
    color:#0089a3; /* change  icon colour */
}
.accordion-text {
    display: none;
}
.accordion-wrap .ContentItemHtml, .accordion-wrap .ContentItemHtml:hover {
    transition: none !important;
}
.accordion-wrap {
    margin-bottom: 15px;
}

/*** bulleted link lists ***/
.link-list ul {
    padding-left: 0;
    margin-top: 25px;
}
.link-list ul li {
    padding: 20px 10px;
    border-top: 1px solid #E6E7EA;
    list-style-type: none;
}
.link-list ul li:last-child {
    border-bottom: 1px solid #E6E7EA;
}
.link-list ul li a {
    font-family: proxima-nova, sans-serif; /* change font/styles */
    font-weight: 700;
    text-transform: none;
    color: #0089a3; /* change colour */
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    padding-left: 40px;
    position: relative;
    display: block;
}
.link-list ul li a::before {
    font-family: CNA; /* change to appropriate kit/unicode */
    content: '\f017'; /* chain link icon */
    color: #333; /* change static icon colour */
    position: absolute;
    left: 10px;
}
.link-list ul li a[target*="blank"]::before {
    content: '\f012'; /* new window icon */ 
}
.link-list ul li a:hover::before,
.link-list ul li a:focus::before {
    color: #333; /* change hover icon colour */
}
.link-list ul li a:hover,
.link-list ul li a:focus {
    color: #333; /* change text hover colour */
}

/*** interior highlight tile ***/
.highlight-tile {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04), 0 0 20px 0 rgba(0,0,0,0.06);
}
.highlight-tile {
    padding: 20px 30px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.highlight-tile h2,
.highlight-tile h3 {
    margin-top: 4px;
}

/***  interior grey tile ***/
.grey-tile {
    background: #fafafa;
    border-radius: 3px;
}
.grey-tile {
    padding: 20px 30px 15px 30px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.grey-tile h2,
.grey-tile h3 {
    margin-top: 0px;
}
 
/*** default line style ***/
hr {
    border: none;
    height: 1px;
    color: #f4f4f4;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*** default image caption ***/
figure.image {
    padding: 15px;
    background-color: rgb(250, 250, 250);
    margin: 5px 0px;
}
/* figure.image img { 
width: 100%; /* unhide to make full size of layout section */

figcaption {
    display: block;
}
figcaption {
    margin-top:12px; 
    font-family: inherit;
    color: #666;
    font-size: 14px;
}

/*** default table style ***/
table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}
table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    border: 0;
}
table tr:nth-child(2n) {
    border-bottom: 2px solid #ededed;
    background: #fafafa;
}
table tr td {
    padding: 15px;
    vertical-align: middle;
    border: 0;
}

/*** plain table style ***/
.plain-table tr td {
    padding: 10px 15px;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #ededed;
}
.plain-table th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
}
.plain-table tr:nth-child(2n) {
    border-bottom: 1px solid #ededed;
    background: #ffffff;
}

/*** stick-to-top responsive content ***/
.stick-to-top {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .stick-to-top {
        flex-direction: column-reverse;
    }
}

/*** equal height tile row ***/
.tile-grow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.tile-grow div[class*="section"] > div {
    height: 100%;
    margin: 0;
}

/*** fix non-responsive images ***/
img {
    max-width: 100%;
}

/****** END PRELOAD ******/

/************ basics ************/

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: trade-gothic-next, sans-serif;
    color: #4F5266;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
}
h1, .h1,
.large-h2 h2 {
    color: #020451;
    font-size: 44px;
    line-height: 1.14;
    font-weight: 400;
}
.large-h2 h2::after {
    display: none;
}
h2, .h2,
.HLLandingControl .heading h2 {
    color: #020451;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    position: relative;
    display: inline-block;
}
h2::after,
.h2::after {
    content: '';
    background: rgba(61,216,163,0.2);
    width: 100%;
    height: 22px;
    left: 10px;
    top: 22px;
}
h3, .h3,
.HLLandingControl h3 a {
    font-weight: 300;
    color: #0E191F;
    font-size: 18px;
    line-height: 1.33;
}
h4, .h4 {
    color: #4F5266;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus {
    transition: .3s;
}

/************ buttons ************/

.make-buttons em {
    display: inline-block;
    margin: -5px;
}
.make-buttons em a {
    display: inline-block;
    margin: 5px;
}
.make-buttons em a,
.btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid;
}
.make-buttons em a,
.btn-primary,
.ideation-home .btn-success,
.community-radio .btn-group .btn-primary.dropdown-toggle,
.open .dropdown-toggle.btn-primary,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.post-message-contributed-content .validate-contribution .btn-group .dropdown-toggle.btn-default,
.new-ideas .ideation-widget > div > div:last-child a,
.blogs-list .HLLandingControl div[id*="BottomLink"] a {
    color: #020451;
    border-color: #020451;
    background: transparent;
}
.make-buttons em a:hover,
.make-buttons em a:focus,
.btn-primary:hover,
.btn-primary:focus,
.ideation-home .btn-success:hover,
.ideation-home .btn-success:focus,
.community-radio .btn-group .btn-primary.dropdown-toggle:hover,
.community-radio .btn-group .btn-primary.dropdown-toggle:focus,
.open .dropdown-toggle.btn-primary:hover,
.open .dropdown-toggle.btn-primary:focus,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:focus, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:focus,
.post-message-contributed-content .validate-contribution .btn-group .dropdown-toggle.btn-default:hover,
.post-message-contributed-content .validate-contribution .btn-group .dropdown-toggle.btn-default:focus,
.new-ideas .ideation-widget > div > div:last-child a:hover,
.new-ideas .ideation-widget > div > div:last-child a:focus,
.blogs-list .HLLandingControl div[id*="BottomLink"] a:hover,
.blogs-list .HLLandingControl div[id*="BottomLink"] a:focus {
    background: #006F84;
    border-color: #020451;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 0px 4px 14px rgba(0, 0, 0, 0.1);
}
.make-buttons.secondary em a,
.btn-success,
.btn-info,
.HL-contact-suggestions .btn-primary,
.btn-group>.btn-success+.dropdown-toggle,
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active,
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active,
.alert-warning .btn,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child,
.library-link a {
    color: #0089A3;
    border-color: #0089A3;
    background: transparent;
}
.make-buttons.secondary em a:hover,
.make-buttons.secondary em a:focus,
.btn-success:hover,
.btn-success:active,
.btn-info:hover,
.btn-info:active,
.HL-contact-suggestions .btn-primary:hover,
.HL-contact-suggestions .btn-primary:active,
.btn-group>.btn-success+.dropdown-toggle:hover,
.btn-group>.btn-success+.dropdown-toggle:focus,
.btn-success:focus,
.btn-success.active, 
.open .dropdown-toggle.btn-success,
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,
.alert-warning .btn:hover,
.alert-warning .btn:focus,
.alert-warning .btn:active,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child:focus,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child:hover,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child:active,
.HLLandingControl .btn-default:hover,
.HLLandingControl .btn-default:focus,
.library-link a:hover,
.library-link a:focus {
    color: #0089A3;
    background: transparent;
}

/************ header ***********/

#MPOuterMost.full #HEADER {
    max-width: 100%;
}
#MPOuterHeader > .col-md-12,
#HEADER > .col-md-12,
#MPheader > div.row > .col-md-12 {
    padding: 0;
}

/****** top bar ******/
#HEADER #MPheader > div.row:first-child {
    padding: 6px 40px;
    margin-left: 0;
    margin-right: 0;
    background: #020451;
    font-size: 13px;
    line-height: 18px;
}
.left-top-links {
    float: left;
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}
.left-top-links li {
    list-style-type: none;
}
.left-top-links li,
#MPAuxNav ul.level1 li {
    margin-right: 20px;
}
.left-top-links li a,
#MPAuxNav ul.level1 li a,
#Welcome_LoginLink {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    padding: 0;
    border: none;
    margin: 0;
}
#Welcome_LoginLink {
    text-transform: none;
    letter-spacing: 0;
}
.HLWelcome {
    margin-right: 20px;
}

/*** search ***/
.header-search {
    float: right;
}
.search-btn-top {
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
    line-height: 18px;
    background: transparent;
    border: none;
    padding: 0;
}
.search-btn-top::before {
    font-family: CNA;
    content: '\f018';
}

/*** language button ***/

.language-btn {
    float: right;
}
.language-btn a {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    padding: 2px 14px;
    background: #0089A3;
    text-decoration: none;
}

/****** logo ******/

#MPheader > div#Logo {
    padding: 10px 40px;
}
#DesktopLogoDiv {
    width: 170px;
}

/****** nav ******/

#NAV,
.navbar-default {
    background-color: transparent;
    border: none;
}

#NAV {
    position: absolute;
    right: 28px;
    bottom: 40px;
    margin-right: 0;
    margin-left: 0;
}
#NAV .navbar {
    min-height: 0;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.disabled>a {
    color: #020451; 
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 0 12px;
}

/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
    border: none;
    width: auto;
    height: auto;
    margin-left: 4px;
    vertical-align: unset;
}
.navbar-default .navbar-nav>.dropdown>a .caret::before {
    font-family: CNA;
    content: '\f019';
    font-weight: 400;
    color: #0089A3;
}

/* removing extraneous padding on desktop */
@media (min-width: 992px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12,
    .navbar-collapse {
        padding: 0;
    }
}

/************ footer ************/
#MPOuterFooter {
    background: #EFF5F8;
    padding: 40px 0;
}
#MPFooterLink {
    display: none;
}

/****** logo ******/
.footer-logo {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.footer-logo img {
    margin-left: auto;
    margin-right: auto;
    width: 65px;
}
.footer-logo .HtmlContent {
    background: #eff5f8;
    width: 125px;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}
.footer-logo::before {
    width: 100%;
    content: '';
    height: 1px;
    background: rgba(7, 51, 117, 0.1);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

/****** contact information ******/
.footer-contact {
    color: #001337;
    margin-bottom: 30px;
}

/****** social media links ******/

.footer-social .HtmlContent {
    display: flex;
    margin: 0 -4px;
}
.footer-social a {
    display: inline-block;
    margin: 0 4px;
    background: #3DD8A3;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.footer-social a:hover,
.footer-social a:focus {
    background: #0089A3;
}

/****** footer links ******/
.footer-links ul {
    padding-left: 0;
}
.footer-links ul li {
    list-style-type: none;
    margin-bottom: 6px;
}
.footer-links ul li:last-child {
    margin-bottom: 0;
}
.footer-links ul li a {
    color: #001337;
    text-decoration: none;
}
.footer-links ul li a:hover,
.footer-links ul li a:focus {
    text-decoration: underline;
    color: #0089A3;
}

/****** footer copyright ******/

.footer-bottom-row {
    display: flex;
}
.footer-bottom-row > .col-md-4 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.footer-bottom-row > .col-md-4:last-child {
    display: flex;
    flex-direction: column;
}
.footer-copyright {
    margin-top: auto;
    font-size: 14px;
    line-height: 20px;
}

/************ responsive ************/

@media (max-width: 1200px) {
    #NAV {
        position: relative;
        bottom: auto;
        right: auto;
        margin-right: 28px;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    #NAV .navbar-nav {
        float: right;
    }
}

@media (max-width: 992px) {
    .row-wide div[class*="section"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .footer-bottom-row {
        display: block;
    }
    .footer-bottom-row > .col-md-4:not(:last-child) {
        margin-bottom: 30px;
    }
    /****** nav ******/ 
    #NAV {
        margin-top: -45px;
        z-index: 10;
    }
    #Logo {
        float: left;
        z-index: 20;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-right: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px 0;
        max-height: calc(100vh - 90px);
    }
    .navbar-nav > li {
        float: none;
        max-height: calc(100% - 150vh);
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-collapse.in {
        overflow-y: scroll;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .digest-viewer thead.table-thead-background {
        display: none;
    }
    table.digest-viewer thead>tr>th,
    table.digest-viewer tbody>tr>th,
    table.digest-viewer tfoot>tr>th,
    table.digest-viewer thead>tr>td,
    table.digest-viewer tbody>tr>td,
    table.digest-viewer tfoot>tr>td {
        text-align: left;
    }
    table.digest-viewer td.text-right {
        float: right;
    }
    table.digest-viewer .thread-follow-icon-no-float-xs::before {
        content: 'Following';
        font-family: inherit;
        margin-right: 5px;
    }
    table.digest-viewer span[id*="lblReplies"] {
        font-weight: 700;
    }
    table.digest-viewer span[id*="lblReplies"]::after {
        content: 'replies';
        font-family: inherit;
        margin-left: 3px;
        font-weight: 400;
    }
    table.digest-viewer abbr.timeago {
        cursor: default;
        border-bottom: none;
        text-decoration: none;
    }
    table.digest-viewer .timeago::before {
        content: 'Posted:';
        margin-right: 3px;
        font-family: inherit;
    }
}