/****** basic resets ******/

.label.label-default {
    color: #4F5266;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    padding: 2px 8px;
    border-radius: 20px;
    background: #ECECF2;
}
.HLWelcome {
    margin-right: 20px;
}

.ui-widget {
    font-family: trade-gothic-next, sans-serif;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EFF5F8;
}

.text-muted-h2 h2 {
    color: #020451;
}

.small-h2 h2,
.small-h2 .HLLandingControl h2,
.small-h2 .HLLandingControl .heading h2,
.current-members .panel-heading .panel-title {
    color: #4F5266;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.profile-button a {
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 20px;
    border: 1px solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    text-align: center;
}
.make-buttons.teal em a,
.home .HLRecentBlogs div[id*="BottomLink"] a,
.community-resources div[id*="MoreLink"] a,
.latest-files .HLLandingControl a[id*="More"]:hover,
.latest-files .HLLandingControl a[id*="More"]:focus,
.latest-discussions .HLLandingControl a[id*="More"]:hover,
.latest-discussions .HLLandingControl a[id*="More"]:focus,
.profile-button a {
    color: #fff;
    background: #0089A3;
    border-color: #0089A3;
}

.make-buttons.teal em a:hover,
.make-buttons.teal em a:focus,
.home .HLRecentBlogs div[id*="BottomLink"] a:hover,
.community-resources div[id*="MoreLink"] a:hover,
.home .HLRecentBlogs div[id*="BottomLink"] a:focus,
.community-resources div[id*="MoreLink"] a:focus,
.recent-discussions .HLLandingControl h2 input:hover,
.recent-discussions .HLLandingControl h2 input:focus,
.recent-discussions .HLLandingControl h2 .make-buttons em a:hover,
.recent-discussions .HLLandingControl h2 .make-buttons em a:focus,
.profile-button a:hover,
.profile-button a:focus {
    border-color: #073375;
    background-color: #073375;
    color: #fff;
    box-shadow: none;
}
.make-buttons.small-buttons em a,
.home .HLRecentBlogs div[id*="BottomLink"] a,
.community-resources div[id*="MoreLink"] a {
    padding: 7px 19px;
    font-size: 12px;
    line-height: 15px;
}
#edit-event-button-container .btn-primary {
    color: #fff;
    border-color: #fff;
}
#edit-event-button-container .btn-primary:hover,
#edit-event-button-container .btn-primary:focus {
    border-color: #fff;
    background-color: #fff;
    color: #0089A3;
}
#edit-event-button-container .btn-primary .caret {
    border-top-color: #fff;
}
#edit-event-button-container .btn-primary:hover .caret,
#edit-event-button-container .btn-primary:focus .caret {
    border-top-color: #0089A3;
}
.page-heading .CommunityManagementGear .btn-default:hover,
.page-heading .CommunityManagementGear .btn-default:focus,
.JoinLeaveLink a[id*="communityJoinLeave"]:hover,
.JoinLeaveLink a[id*="communityJoinLeave"]:focus,
.member-dashboard .make-buttons em a:hover,
.member-dashboard .make-buttons em a:focus {
    background-color: #E6EEF3;
    border-color: #E6EEF3;
    color: #073375;
}
.pagination>li>a, .pagination>li>span {
    font-size: 14px;
    line-height: 19px;
    color: #0E191F;
    font-weight: 700;
    padding: 8px 12px;
    border: 1px solid #DBE0E4;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background: #0089A3;
    border: 1px solid #DBE0E4;
}
.form-control {
    color: #2D2D2D;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #E8EBED;
}
#ProfileContainer {
    width: 450px;
}
#ProfileContainer .btn {
    padding: 8px 10px;
    font-size: 12px;
    line-height: 15px;
}

/*** more margins ***/
.top-margin-15 {
    margin-top: 15px;
}
/* .top-margin-30 {
    margin-top: 30px;
} */
.top-margin-minus-30 {
    margin-top: -30px;
}
.top-margin-minus-45 {
    margin-top: -45px;
}

/****** header ******/

#HEADER #MPheader>div.row:first-child {
    background: #073375;
}

#HEADER #MPheader>div#Logo.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 40px;
}
.search-btn-top {
    color: #0089A3;
    font-size: 24px;
    line-height: 1;
}

.language-btn a {
    background: #fff;
    color: #073375;
}
.language-btn a:hover,
.language-btn a:focus {
    background: #E6EEF3;
}

#ProfileContainer .panel {
    padding: 0;
}

/*** nav ***/
.nav-tabs > li,
.nav-tabs.ui-tabs-nav > li.ui-state-default {
    background: transparent;
    border: none;
    margin: 0;
}

.nav-tabs.ui-tabs-nav .ui-state-default a, 
.nav-tabs.ui-tabs-nav .ui-state-default a:link, 
.nav-tabs.ui-tabs-nav .ui-state-default a:visited {
    color: #020451;
    padding: 10px 15px;
    border: none;
}
.nav-tabs.ui-tabs-nav .ui-state-active a,
.nav-tabs.ui-tabs-nav .ui-state-active a:link,
.nav-tabs.ui-tabs-nav .ui-state-active a:visited,
.nav-tabs.ui-tabs-nav>li.ui-state-default.active>a, 
.nav-tabs.ui-tabs-nav>li.ui-state-default.active>a:focus, 
.nav-tabs.ui-tabs-nav>li.ui-state-default.active>a:hover, 
.nav-tabs.ui-tabs-nav>li.ui-state-default>a:focus, 
.nav-tabs.ui-tabs-nav>li.ui-state-default>a:hover {
    color: #fff;
    background-color: #020451;
    border: none;
    padding: 10px 15px;
}
.navbar-nav>li>.dropdown-menu,
.nav-tabs > li > .dropdown-menu {
    padding: 20px 0;
}
.navbar-nav .dropdown-menu>li>a,
.nav-tabs .dropdown-menu > li > a {
    color: #0E191F;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 20px;
}
.navbar-nav .dropdown-menu>li>a::after,
.nav-tabs .dropdown-menu > li > a::after {
    display: none;
}
.navbar-nav .dropdown-menu>.active>a,
.navbar-nav .dropdown-menu>.active>a:hover,
.navbar-nav .dropdown-menu>.active>a:focus,
.navbar-nav .dropdown-menu>li>a:hover,
.navbar-nav .dropdown-menu>li>a:focus,
.nav-tabs .dropdown-menu>.active>a,
.nav-tabs .dropdown-menu>.active>a:hover,
.nav-tabs .dropdown-menu>.active>a:focus,
.nav-tabs .dropdown-menu>li>a:hover,
.nav-tabs .dropdown-menu>li>a:focus {
    background: transparent;
    text-decoration: underline !important;
    color: #073375;
}

/****** homepage ******/

.home #MainCopy_ContentWrapper,
.community #MainCopy_ContentWrapper {
    background-color: #EFF5F8;
}

/****** margins between sections ******/

.margin-top-80 {
    margin-top: 80px;
}

@media (max-width: 991px) {
    .margin-top-80 {
        margin-top: 55px;
    }
    .margin-bottom-40-mob {
        margin-bottom: 40px;
    }
}
.margin-bottom-40 {
    margin-bottom: 40px;
}

/****** member dashboard ******/

.member-dashboard {
    background-color: #073375;
    position: relative;
}
.member-dashboard::after,
.page-heading::after {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Images/dashboard-vector-1-no-ar.svg');
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-position: right center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    background-size: 100% 100%;
}
.member-dashboard::before,
.page-heading::before {
    content: '';
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Images/green-swoop-dashboard.svg');
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 735px;
    height: 125px;
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    background-size: auto 100%;
}
.hero-row > .col-md-12::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45%;
    background-color: #020451;
}
.member-dashboard .dashboard-img {
    display: none;
}
.member-dashboard .row-wide {
    padding: 40px 0;
    position: relative;
    z-index: 10;
}
.member-dashboard .greeting {
    display: flex;
    align-items: center;
}
.member-dashboard .greeting a[id*="ImageControl"] {
    width: 100px;
    height: 100px;
    border: 2px solid #3DD8A3;
    margin-right: 20px;
}
.member-dashboard .greeting .HtmlContent {
    width: calc(100% - 120px);
}
.member-dashboard .greeting .HtmlContent span {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 10px;
}
.member-dashboard .greeting .HtmlContent a {
    color: #fff;
    font-size: 32px;
    line-height: 38px;
}
.member-dashboard .row-wide > .col-md-6:last-child {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    padding-right: 5px;
}
.member-dashboard .make-buttons {
    margin: 5px;
    flex-basis: calc(50% - 10px);
}
.member-dashboard .make-buttons em,
.member-dashboard .make-buttons em a {
    margin: 0;
    display: block;
}
.member-dashboard .make-buttons em a {
    color: #020451;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    background: #fff;
    border: 1px solid #fff;
    padding: 12px 30px;
    text-align: center;
}

/****** my communities ******/

.home .flex-title h2 {
    margin-bottom: 0;
}
.home .my-communities .Count,
.home .my-communities div[id*="UpdatePanel"] > .row:first-child {
    display: none;
}
.home .my-communities div[id*="UpdatePanel"] {
    display: flex;
    margin: 10px -15px 25px -15px;
}
.home .my-communities .community-list {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(25% - 30px);
    margin: 15px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
}
.home .my-communities .community-list h3 a {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 300;
}
.home .my-communities .community-list > .col-md-7,
.home .my-communities .community-list > .col-md-5 {
    padding: 0;
    width: 100%;
}
.home .my-communities .community-list > .col-md-5 .pull-right {
    float: none !important;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.btn-community-stats-static,
.btn-community-stats-static:hover,
.btn-community-stats-static:focus {
    box-shadow: none;
}
.community-list .btn-community-stats-static,
.community-list .btn-community-stats-static:hover,
.community-list .btn-community-stats-static:focus {
    padding: 0;
    background: transparent;
    border: none;
}
.interior .btn-community-stats-static {
    color: #020451;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
}
.interior .btn-community-stats-static:not(:last-child) {
    margin-right: 20px;
}
.interior .btn-community-stats-static:hover,
.interior .btn-community-stats-static:focus {
    text-decoration: underline;
}
.interior .btn-community-stats-static .badge {
    color: #4F5266;
    font-size: 12px;
    line-height: 14px;
    padding: 2px 8px;
    background: #ECECF2;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 8px;
}
.home .my-communities .btn-community-stats-static {
    display: flex;
    flex-direction: row-reverse;
}
.home .my-communities .btn-community-stats-static .badge {
    background: transparent;
    padding: 0;
    margin-right: 3px;
    top: 0;
}
.home .my-communities .btn-community-stats-static,
.home .my-communities .btn-community-stats-static .badge {
    color: #020451;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
}
.home .my-communities .btn-community-stats-static[id*="CommunityDocumentsCount"] {
    display: none;
}
.home .my-communities .btn-community-stats-static::after {
    font-family: CNA;
    color: #0089A3;
    font-size: 16px;
    line-height: 20px;
    margin-right: 8px;
}
.home .my-communities .btn-community-stats-static[id*="MembersCount"]::after {
    content: '\f03a';
}
.home .my-communities .btn-community-stats-static[id*="DiscussionCount"]::after {
    content: '\f03b';
}

/****** hero ******/

.hero {
    background-position: right bottom;
    background-size: 60% auto;
    background-repeat: no-repeat;
}

.hero::after {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/hero-vector-blue.png');
    background-size: 100%;
    background-position: right bottom;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 791px;
    background-repeat: no-repeat;
}
.hero::before {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Images/green-swoop-hero.svg');
    background-size: auto 100%;
    background-position: right bottom;
    content: '';
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 385px;
    height: 190px;
    background-repeat: no-repeat;
} 
.hero .HtmlContent {
    width: 50%;
    padding: 85px 0 85px calc(50% - 685px);
    position: relative;
    z-index: 10;
}
.hero-row > .col-md-12::before {
    width: calc(100% - 790px);
}
.hero .HtmlContent h1,
.hero .HtmlContent p {
    color: #fff;
}
.hero .HtmlContent h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
.hero.make-buttons em a:first-child {
    border-color: #0089A3;
    background-color: #0089A3;
    color: #fff;
}
.hero.make-buttons em a:last-child {
    color: #020451;
    background: #fff;
    border-color: #fff;
}

/****** widgets ******/

.HLLandingControl h3 a,
.featured-member h3,
.home .HLEngagement ul li .title-row a {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    color: #020451;
}
.home .HLEngagement ul li .title-row a:hover,
.home .HLEngagement ul li .title-row a:focus {
    text-decoration: underline;
    color: #020451;
}
.HLLandingControl h5 a:hover,
.HLLandingControl h5 a:focus {
    text-decoration: none;
}
.byline-posted-in {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.byline-posted-in h5 {
    margin-top: 0;
    margin-bottom: 0;
}
.byline-posted-in .ByLine {
    margin-right: 20px; 
}
.HLLandingControl .Content ul li {
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(33,35,112,0.1);
    color: #4F5266;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
.HLLandingControl .Content ul.dropdown-menu li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

/****** recent discussions ******/

.recent-discussions .HLLandingControl h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.recent-discussions .HLLandingControl h2 .make-buttons {
    float: right;
    margin-top: 10px;
}
.recent-discussions .HLLandingControl h2 .make-buttons .HtmlContent {
    padding-left: 0;
    padding-right: 0;
}
.recent-discussions .HLLandingControl h2 input,
.recent-discussions .HLLandingControl h2 .make-buttons em a {
    float: right;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 15px;
    background: #0089A3;
    color: #fff;
    border-color: #0089A3;
}
.recent-discussions .HLLandingControl h2 .make-buttons em a:hover,
.recent-discussions .HLLandingControl h2 .make-buttons em a:focus {
    text-decoration: none;
    font-weight: 700;
}
.recent-discussions ul {
    border-top: 1px solid rgba(33,35,112,0.1);
    padding-top: 20px;
}
.recent-discussions ul li,
.latest-discussions ul li {
    padding-left: 70px;
    position: relative;
}
.recent-discussions ul li .title-row > .col-md-12 {
    position: static;
}
.recent-discussions ul li .title-row .col-md-2.col-sm-2,
.latest-discussions ul li .title-row .col-md-2.col-sm-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
}
.recent-discussions ul li .title-row .col-md-10.col-sm-10,
.latest-discussions ul li .title-row .col-md-10.col-sm-10,
.recent-discussions ul li .title-row .col-md-7.col-sm-7,
.latest-discussions ul li .title-row .col-md-7.col-sm-7 {
    padding: 0;
    width: 100%;
}
.recent-discussions ul li .title-row .col-md-2.col-sm-2 a[id*="ProfileImage"],
.recent-discussions ul li .title-row .col-md-2.col-sm-2 a[id*="imgProfPic"],
.home .HLEngagement ul li .title-row a[id*="ProfileLink"],
.latest-discussions ul li .title-row .col-md-2.col-sm-2 a[id*="ProfileImage"],
.home .HLEngagement ul li .title-row a[id*="ProfileLink"],
.latest-files .HLLandingControl ul li .title-row .col-md-2.col-sm-2 a[id*="ProfileImage"] {
    border: 2px solid #3DD8A3;
    width: 50px;
    height: 50px;
}
.recent-discussions ul li .no-pad.break-word p[id*="DiscussionList"]:last-of-type {
    margin-bottom: 0;
}
.recent-discussions div[id*="BottomLink"] .col-md-12 {
    padding: 0;
}
.recent-discussions div[id*="BottomLink"] a,
.recent-discussions div[id*="MoreLink"] a {
    background: #020451;
    color: #fff;
}
.recent-discussions div[id*="BottomLink"] a:hover,
.recent-discussions div[id*="BottomLink"] a:focus,
.recent-discussions div[id*="MoreLink"] a:hover,
.recent-discussions div[id*="MoreLink"] a:focus {
    background: transparent;
    color: #020451;
    border-color: #020451;
}

/* featured member */

.featured-member {
    background: #020451;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 10px 20px 20px 20px;
}

.featured-member .HtmlContent * {
    color: #fff;
    margin: 0;
}
.featured-member h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}
.featured-member .HtmlContent .member-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.featured-member .HtmlContent .member-details {
    margin-left: 20px;
    flex-basis: calc(100% - 120px);
}

.featured-member .HtmlContent .member-info .img-container {
    border: 2px solid #3DD8A3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-member .HtmlContent .member-details h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.featured-member .HtmlContent p {
    margin-bottom: 0;
    color: #E6EEF3;
    margin-top: 4px;
}
.featured-member.make-buttons em,
.featured-member.make-buttons em a {
    display: block;
}
.featured-member.make-buttons em a {
    background-color: #073375;
    text-align: center;
}
.featured-member.make-buttons em a:hover,
.featured-member.make-buttons em a:focus {
    background-color: rgba(7,51,117,0.5);
}

/****** upcoming events ******/

.upcoming-events,
.home .HLEngagement,
.latest-files,
.latest-discussions {
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 0;
}
.upcoming-events .HLEventList,
.latest-files .HLLandingControl,
.latest-discussions .HLLandingControl {
    padding: 0;
    margin: 0;
}
.upcoming-events .HLLandingControl h2,
.home .HLEngagement h2,
.latest-files .HLLandingControl h2,
.latest-discussions .HLLandingControl h2,
.current-members .panel-heading .panel-title {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(33,35,112,0.1);
}
.upcoming-events .HLLandingControl .Content,
.home .HLEngagement .Content,
.latest-files .HLLandingControl .Content,
.latest-discussions .HLLandingControl .Content {
    padding: 20px;
}
.upcoming-events .HLLandingControl .Content ul,
.latest-files .HLLandingControl .Content ul,
.latest-discussions .HLLandingControl .Content ul {
    display: block;
    margin: 0;
    padding: 0;
}
.upcoming-events .HLLandingControl .Content ul li,
.latest-files .HLLandingControl .Content ul li {
    padding: 0 0 20px 0;
    display: block;
}
.upcoming-events .HLEventList div[id*="BottomLink"] {
    position: relative;
    top: auto;
    right: auto;
}
.upcoming-events .HLLandingControl .Content ul li p.break-word,
.latest-files .HLLandingControl .Content ul li p,
.HLDiscussions .Content ul li .break-word p {
    margin-bottom: 0;
}
.upcoming-events .HLEventList ul li .title-row h3 {
    margin-bottom: 4px;
}
.upcoming-events .HLEventList ul li .timeAgoFormat,
.upcoming-events .HLEventList ul li div[id*="LocationPanel"] {
    color: #4F5266;
    font-size: 14px;
    line-height: 20px;
}
.upcoming-events .HLEventList ul li .timeAgoFormat::before, 
.upcoming-events .HLEventList ul li div[id*="LocationPanel"]::before {
    display: none;
}
.upcoming-events a[id*="LinkToCalendar"],
.upcoming-events a[id*="LinkToCommunityCalendar"],
.home .HLEngagement .mam-button em a,
.latest-files .HLLandingControl a[id*="More"],
.latest-discussions .HLLandingControl a[id*="More"] {
    display: block;
    background-color: #EFF5F8;
    border-color: #EFF5F8;
    text-align: center;
}
.upcoming-events div[id*="More"],
.latest-files .HLLandingControl div[id*="BottomLink"] .col-md-12,
.latest-discussions .HLLandingControl div[id*="BottomLink"] .col-md-12 {
    padding: 0;
}

/****** most active members ******/

.home .HLEngagement p.bg-warning {
    margin-bottom: 0;
}
.home .HLEngagement .mam-button .HtmlContent {
    padding: 0;
}
.home .HLEngagement .mam-button em,
.home .HLEngagement .mam-button em a {
    display: block;
    margin: 0;
}
.home .HLEngagement ul li .title-row a {
    text-decoration: none;
}
.home .HLEngagement ul li {
    padding-left: 60px;
    position: relative;
}
.home .HLEngagement ul li .title-row .col-md-3 {
    position: absolute;
    left: 0;
    top: 0;
}
.home .HLEngagement ul li .col-md-9 {
    width: 100%;
    padding: 0;
}
.home .HLEngagement ul li .points-label {
    color: #4F5266;
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    background: transparent;
    border: 1px solid #E6EEF3;
    border-radius: 30px;
    padding: 4px 8px;
}
.home .HLEngagement ul li::after {
    position: absolute;
    right: 0;
    top: calc(50% - 23px);
    border-radius: 50%;
    background: #3DD8A3;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 26px;
    width: 26px;
    height: 26px;
}
.home .HLEngagement ul li:first-child::after {
    content: '1';
}
.home .HLEngagement ul li:nth-child(2)::after {
    content: '2';
}
.home .HLEngagement ul li:nth-child(3)::after {
    content: '3';
}
.home .HLEngagement ul li:last-child::after {
    content: '4';
}

/****** blog & resources ******/

.home .HLRecentBlogs .Content ul,
.community-resources .HLLandingControl .Content ul {
    display: flex;
    margin: 15px -15px -15px -15px;
}
.home .HLRecentBlogs .Content ul li,
.community-resources .HLLandingControl .Content ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(50% - 30px);
    margin: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 10px 30px rgba(0, 0, 0, 0.06);
    background: #fff;
    padding: 0;
}
.community-resources .HLLandingControl .Content ul li {
    flex-basis: calc(25% - 30px);
}
.home .HLRecentBlogs .Content ul li .img-container {
    height: 260px;
}
.home .HLRecentBlogs .Content ul li:first-child .img-container {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/placeholder.png');
}

.home .HLRecentBlogs .Content ul li:last-child .img-container {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/placeholder-1.png');
}
.community-resources .HLLandingControl .Content ul li .img-container {
    height: 150px;
}
.community-resources .HLLandingControl .Content ul li:first-child .img-container {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/placeholder-2.png');
}
.community-resources .HLLandingControl .Content ul li:nth-child(2) .img-container {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/placeholder-3.png');
}
.community-resources .HLLandingControl .Content ul li:nth-child(3) .img-container {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/placeholder-4.png');
}
.community-resources .HLLandingControl .Content ul li:last-child .img-container {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/placeholder-5.png');
}
.home .HLRecentBlogs .Content ul li .text-container,
.community-resources .HLLandingControl ul li .text-container {
    padding: 20px;
}
.home .HLRecentBlogs.HLLandingControl .Content ul li .title-row h3 {
    margin-bottom: 10px;
}
.home .HLRecentBlogs .Content ul li .text-container p.break-word {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #4F5266;
}
.home .HLRecentBlogs {
    position: relative;
    margin-bottom: 40px;
}
.community-resources {
    position: relative;
}
.home .HLRecentBlogs div[id*="BottomLink"],
.community-resources div[id*="MoreLink"] {
    position: absolute;
    top: 10px;
    right: 0;
}
.home .HLRecentBlogs div[id*="BottomLink"] .col-md-12 {
    padding: 0;
}
.community-resources .HLLandingControl .content-tags {
    display: none;
}

/*** resource icons ***/
.community-resources .HLLandingControl ul li .img-container {
    position: relative;
}
.community-resources .HLLandingControl ul li .img-container::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #3DD8A3;
    font-size: 24px;
    font-family: CNA;
    content: '\f034';
    color: #fff;
    text-align: center;
    font-weight: 400;
}
.community-resources .HLLandingControl ul li.image-file .img-container::after {
    content: '\f032';
}
.community-resources .HLLandingControl ul li.pdf .img-container::after {
    content: '\f034';
}
.community-resources .HLLandingControl ul li.presentation .img-container::after {
    content: '\f033';
}
.community-resources .HLLandingControl ul li.word-doc .img-container::after {
    content: '\f031';
}
.community-resources .HLLandingControl ul li.hyperlink .img-container::after {
    content: '\f039';
}
.community-resources .HLLandingControl ul li.video .img-container::after {
    content: '\f035';
}
.community-resources .HLLandingControl ul li.spreadsheet .img-container::after {
    content: '\f036';
}
.community-resources .HLLandingControl ul li.zip .img-container::after {
    content: '\f038';
}

/************ community landing page ************/

/****** hide nested communities ******/

a[id*="NestedCommunity_BreadCrumbs"] {
    display: none;
}

/****** page title ******/

.page-heading {
    padding: 60px calc(50% - 685px) 60px calc(50% - 685px);
    background-color: #073375;
    position: relative;
    overflow: hidden;
}
.page-heading::after {
    background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/CLP_swoosh.png');
}
.page-heading #PageTitleH1,
.page-heading .summary-edit {
    color: #fff;
    position: relative;
}
.page-heading #PageTitleH1 {
    max-width: 1400px;
    padding: 0;
    z-index: 20;
}
.community .page-heading {
    padding-bottom: 90px;
}
.communtiy .page-heading #PageTitleH1 {
    padding-bottom: 10px;
}
.page-heading .summary-edit {
    width: 50%;
    z-index: 10;
}
.page-heading .CommunityManagementGear .btn-default,
.JoinLeaveLink a[id*="communityJoinLeave"] {
    background: #fff;
    border: 1px solid #fff;
    color: #020451;
    border-radius: 0;
}
.page-heading .CommunityManagementGear ul .btn {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 15px;
}
.JoinLeaveLink {
    position: absolute;
    right: calc(50% - 685px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.JoinLeaveLink a[id*="communityJoinLeave"] {
    padding: 12px 21.5px;
}

/****** tabs ******/

#CommunityTabsContainer.nav-tabs {
    position: absolute;
    bottom: 0;
    left: calc(50% - 685px);
    border: none;
    margin: 0;
    z-index: 10;
}
.nav-tabs>li>a {
    font-size: 16px;
    line-height: 20px;
    color: #020451;
    font-weight: 700;
    border-radius: 6px 6px 0px 0px;
    background: rgba(239, 245, 248, 0.86);
    margin-right: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background: #020451;
    color: #fff;
    border-color: #020451;
}
#CommunityTabsContainer.nav-tabs>li.active>a, #CommunityTabsContainer.nav-tabs>li.active>a:focus, #CommunityTabsContainer.nav-tabs>li.active>a:hover, #CommunityTabsContainer.nav-tabs>li>a:focus, #CommunityTabsContainer.nav-tabs>li>a:hover {
    color: #020451;
    background-color: #EFF5F8;
    border-bottom-color: #eff5f8;
}

.nav-tabs > li > a .badge {
    color: #4F5266;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding: 0 3px;
    background: #ECECF2;
    border-radius: 20px;
    margin-left: 6px;
    margin-top: 4px;
    min-width: 25px;
}
.nav-tabs > li > a:hover .badge,
.nav-tabs > li > a:focus .badge {
    background-color: #fff;
}

.community #MainCopy_ContentWrapper {
    padding-top: 60px;
}

/****** announcement ******/

.announcement {
    background: #020451;
}
.announcement .HLLandingControl .heading h2 {
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 20px;
}
.announcement .HLLandingControl ul li {
    padding: 20px 20px 50px 20px;
    border: none;
    margin: 0;
}
.announcement .HLLandingControl ul li,
.announcement .HLLandingControl ul li h3 a,
.announcement .HLLandingControl ul li .ByLine {
    color: #fff;
}
.announcement .HLLandingControl ul li h3 {
    margin-bottom: 10px;
}

/****** community members ******/

.current-members div[id*="UpdatePanel"] > .panel {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04), 0px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 0;
}
.current-members .panel-body {
    padding: 20px;
}
.current-members span[id*="MemberCountLink"] {
    font-weight: 300 !important;
    color: #2D2D2D;
    font-size: 16px;
    line-height: 1.5;
}

.current-members .panel-heading {
    background: transparent;
    padding: 0;
    border: none;
}
.current-members .panel-member {
    border: 1px solid #E8EBED;
    border-radius: 0;
    box-shadow: none;
    height: 145px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.current-members .panel-member .GroupMemberName a {
    color: #17171C;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}
.current-members .panel-member .GroupMemberName a:hover
.current-members .panel-member .GroupMemberName a:focus {
    text-decoration: underline;
}
.current-members span.label.label-admin {
    color: #073375;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 4px 8px;
    border-radius: 30px;
    background-color: #E6EEF3;
    border: none;
}

/************ interior pages *************/

.event-list-item.no-margin {
    padding: 25px 0;
    border-bottom: 1px solid rgba(33,35,112,0.1);
}
.event-list .date-block {
    margin-top: 0;
    background-color: #EFF5F8;
    color: #020451;
    margin-left: 0;
    width: 100%;
    padding: 20px;
}
.calendar-day {
    display: none;
}
.event-list img {
    margin-bottom: 0;
}

.panel {
    padding: 20px;
}
.panel-footer {
    background: #fff;
    border-top: 1px solid rgba(33,35,112,0.1);
}
.form-horizontal .control-label {
    text-align: left;
}
div[id*="MessagePanel"] > .row.row-border-bottom:first-child > .col-md-4 {
    padding-left: 0;
}
div[id*="MessagePanel"] > .row.row-border-bottom:first-child > .col-md-9 {
    padding-right: 0;
}
@media (min-width: 992px) {
    div[id*="MessagePanel"] > .row.row-border-bottom:first-child > .col-md-4 {
        width: 25%;
    }
}

.hltags ul.tagit {
    padding: 6px 5px 6px 0;
}

div[id*="tdMessages"],
ul.DiscussionContentContainer>li .pnl-row-item {
    background: #fff;
}
.community .ContentUserControl:not(.upcoming-events) .HLEventList {
    background: #fff;
    padding: 20px;
}
.entry-title.title-row-background {
    background: transparent;
}
#MessageListContainer div.row.drItemSubHeader,
.digest-viewer .table-thead-background > tr > th {
    background-color: #fff;
    border-bottom: 1px solid rgba(33,35,112,0.1);
}
#DiscussionContentContainer div.row.drItemSubHeader.messagetitle-container, #DiscussionContentContainer div.row.drItemSubHeader.highlightThread {
    background-color: #fff !important;
}
div[id*="MessagePanel"] .row.row-border-bottom {
    border-bottom: none;
}
.digest-viewer.table>thead>tr>th, 
.digest-viewer.table>tbody>tr>th, 
.digest-viewer.table>tfoot>tr>th, 
.digest-viewer.table>thead>tr>td, 
.digest-viewer.table>tbody>tr>td, 
.digest-viewer.table>tfoot>tr>td {
    border-top: none;
}
.btn-recommend-no {
    margin-right: -3px;
}
div[id*="likeRatingContainer"] {
    margin-bottom: 5px;
}
.community a[id*="backButton"] {
    margin-bottom: 15px;
}
.community .ContentItemReact > .row.heading > .col-md-12.no-pad {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#MPOuterMost .hl-carousel .hl-carousel-arrow {
    background-color: rgba(239, 245, 248, 0.86);
    color: #020451;
}
#MPOuterMost .hl-carousel .hl-carousel-arrow:hover,
#MPOuterMost .hl-carousel .hl-carousel-arrow:focus {
    background-color: #020451;
    color: #fff;
}
#MPOuterMost .library-content .content-with-panels .left-panel {
    background-color: #fff;
    border-right: 1px solid rgba(33,35,112,0.1);
}
#MPOuterMost .bootstrap-4 .bg-bg1 {
    background-color: #fff !important;
    border-top: 1px solid rgba(33,35,112,0.1);
    border-bottom: 1px solid rgba(33,35,112,0.1);
}
#MPOuterMost .library-rows-grid .layout-grid-cell:hover,
#MPOuterMost .library-rows-grid .layout-grid-cell:focus {
    background-color: transparent;
}
.HLLandingControl.HLEventList .title-row img {
    max-width: 100%;
    max-height: unset;
}
.followed-content-results .followed-content-item td.ProfilePic,
.followed-content-results .followed-content-item td {
    padding: 10px;
}
.followed-content-results .followed-content-item .text-muted,
.ItemContent.search-results.row .text-muted {
    color: #0E191F;
}
.text-muted {
    color: #4F5266;
}
.followed-content-results .followed-content-item td > div:not(:last-child) {
    margin-bottom: 10px;
}
.ItemContent.search-results.row td {
    padding: 0;
}
.ItemContent.search-results.row {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.ItemContent.search-results.row td .PostedBy,
.ItemContent.search-results.row td .FoundIn {
    display: block;
    margin-bottom: 10px;
}
.ItemContent.search-results.row td .FoundIn br {
    display: none;
}
.ItemContent.search-results.row td h3 {
    margin-bottom: 10px !important;
}
.ItemContent.search-results.row td .label.label-default {
    display: inline-block;
    margin-bottom: 10px;
}
#PrivacyProfilePreferences .privacySettingsRow {
    padding: 20px 0;
}
#PrivacyProfilePreferences .privacySettingsRow .form-group {
    margin-bottom: 0;
}
.email-preferences h3 {
    margin-top: 15px;
}
.email-preferences.container {
    padding-left: 0;
    padding-right: 0;
}

.inbox-list div[id*="InboxDetails"] > .row > .col-md-1,
.inbox-list div[id*="InboxDetails"] > .tab-pane > .row > .col-md-1 {
    width: 35px;
}
.inbox-list div[id*="InboxDetails"] > .row > .col-md-11,
.inbox-list div[id*="InboxDetails"] > .tab-pane > .row > .col-md-11 {
    width: calc(100% - 35px);
}
.inbox-list .col-md-1.glyphicon-envelope {
    width: 30px;
    float: left;
    padding-top: 3px;
}
.inbox-list .col-md-1.glyphicon-envelope + .col-md-11 {
    width: calc(100% - 30px);
    float: left;
}
.mail-option .chk-all input {
    transform: translateY(3px);
}

.member-directory .member-row {
    display: flex;
}
.member-directory .member-row > .col-sm-2.member-picture {
    flex-basis: 70px;
    text-align: left;
    width: 70px !important;
    margin-right: 0 !important;
}
.member-directory .member-row > .col-sm-3 {
    flex-basis: calc(25% - 20px);
}
.member-directory .member-row > .col-sm-4 {
    flex-basis: calc(33.333333% - 30px);
}
.text-muted-h2 a[id*="AllCommunities"] {
    position: absolute;
    top: -65px;
    right: 0;
}

.library-entry a[id*="imgProfile"] {
    width: 70px;
    height: 70px;
}
.library-entry .HLLibraryEntryActions {
    float: right;
    margin-right: 10px;
}

/****** small buttons ******/

.message-list-reply .btn-group .btn {
    border-radius: 0;
}

#MPOuterMost .library-grid .page-go-to .input-group-append .btn-secondary,
div[id*="MessagePanel"]  .col-md-9 .form-group a[id*="lnkPostMessage"],
.input-group-btn input[id*="OwnerLookupButton"],
.contributions-list-header .btn.dropdown-toggle.btn-default,
.email-overrides .btn,
div[id*="InboxDetails"] > .row:first-of-type .btn {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 15px;
}
#MPOuterMost .library-grid .page-go-to .input-group-append .btn-secondary {
    padding-top: 7px;
}
.RSSTabsHead .ui-widget {
    border-radius: 0;
    border-color: #E6EEF3;
}
.RSSTabsHead legend {
    border-bottom: none;
}

/************ responsive ************/

@media (max-width: 1200px) and (min-width: 769px) {
    .text-muted-h2 .col-md-3 .row,
    .text-muted-h2 .col-md-9 .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/****** larger screens only *****/

@media (min-width: 769px) {
    .inbox-list .no-padding-left,
    .inbox-list div[id*="InboxDetails"] > .row > .col-md-1,
    .inbox-list div[id*="InboxDetails"] > .tab-pane > .row > .col-md-1 {
        padding-left: 15px;
    }
    .inbox-list .no-padding-right {
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .recent-discussions {
        padding-right: 75px;
    }
    .SearchResults .HeaderStatusBar .ResultStatus {
        padding-left: 0;
    }
    .SearchResults .HeaderStatusBar > .col-md-9 {
        padding-right: 0;
    }
    .library-entry .HLDocumentEntryFileList .col-md-12 {
        margin-left: 13.8888888889%;
    }
}

@media (min-width: 1151px) {
    #NAV {
        left: 210px;
        right: 210px;
        z-index: 30;
        position: absolute;
        bottom: 0;
    }
    #NAV .navbar-nav > li {
        padding-bottom: 25px;
    }
    .navbar-nav {
        float: none;
        display: flex;
        justify-content: center;
    }
}

/****** smaller screens only ******/


@media (max-width: 1520px) {
    .bg-grey > .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1430px) {
    .hero .HtmlContent {
        padding-left: 15px;
    }
}

@media (max-width: 1400px) {
    #CommunityTabsContainer.nav-tabs {
        left: 15px;
    }
    .page-heading {
        padding-left: 15px;
        padding-right: 15px;
    }
    .JoinLeaveLink {
        right: 0;
    }
}

@media (max-width: 1320px) {
    .hero {
        background-size: 75% auto;
    }
}

@media (max-width: 1200px) {
    .hero {
        background-size: 100% auto;
        background-position: top center;
        padding-top: 250px;
    }
    .hero .HtmlContent {
        padding-right: 15px;
        width: 100%;
        background-color: #020451;
        padding-top: 0;
    }
    .hero::before {
        background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/Vector.png');
        bottom: unset;
        top: 182px;
        height: 60px;
        width: 350px;
    }
    .hero::after {
        background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/tablet__1_.png');
        width: auto;
        left: 0;
        bottom: unset;
        height: 251px;
        top: 0;
        background-size: 100% auto;
        background-position: bottom center;
    }
    .hero-row > .col-md-12::before {
        display: none;
    }
    .text-muted-h2 a[id*="AllCommunities"] {
        right: 15px;
    }
}


@media (max-width: 1150px) {
    #MPOuterMost .search-btn-top.desktop {
        display: none;
    }
    #MPOuterMost .search-btn-top.mobile {
        display: block;
    }
    .search-btn-top {
        position: absolute;
        bottom: 20px;
        z-index: 20;
    }
}

@media (min-width: 992px) and (max-width: 1150px) {
    .search-btn-top {
        right: 70px;
    }
}

@media (max-width: 991px) {
    .community-resources .HLLandingControl .Content ul,
    .home .my-communities div[id*="UpdatePanel"] {
        flex-wrap: wrap;
    }
    .community-resources .HLLandingControl .Content ul li,
    .home .my-communities .community-list {
        flex-basis: calc(50% - 30px); 
    }
    .member-dashboard .greeting {
        margin-bottom: 40px;
    }
    .hero::after {
        top: 10px;
    }
    .member-dashboard::before {
        bottom: 0;
    }
    .member-dashboard::after,
    .page-heading::after {
        background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/bcd58c49-4000-4df8-ab7d-64be5e30bf9d/UploadedImages/Images/dashboard-tablet-swoop-no-ar.svg');
        background-position: left bottom;
    }
    .event-list .date-block  {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .nav-tabs:not(#CommunityTabsContainer)>li>a {
        margin-bottom: 10px;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .text-muted-h2 .UserControl .text-center {
        text-align: left;
    }
    .text-muted-h2 a.pull-right[id*="MessagesCount"],
    .community-list div[id*="pnlAttributes"] .pull-right,
    .community-list a.pull-right[id*="AllCommunities"],
    .contributions-list-header > .col-md-8 > .inline.pull-right,
    div[id*="MessagePanel"] .row.no-margin .col-md-9.pull-right,
    div[id*="ExportUpdatePanel"] .pull-right {
        float: none !important;
    }
    .text-muted-h2 a.pull-right[id*="MessagesCount"],
    .contributions-list-header > .col-md-8 > .inline.pull-right,
    div[id*="ExportUpdatePanel"] .pull-right {
        margin-top: 10px;
    }
    div[id*="MessagePanel"] .row.no-margin .form-inline.text-right {
        text-align: left;
        margin-top: 10px;
    }
    div[id*="MessagePanel"] .row.no-margin .col-md-9.pull-right {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .home .HLRecentBlogs .Content ul,
    .community-resources .HLLandingControl .Content ul,
    .home .my-communities div[id*="UpdatePanel"] {
        display: block;
    }
    .hero {
        padding-top: 180px;
    }
    .hero::before {
        top: 120px;
    }
    .hero::after {
        height: 180px;
    }
    .page-heading .summary-edit {
        width: 100%;
    }
    .JoinLeaveLink {
        position: relative;
        transform: none;
        top: auto;
        right: auto;
        margin-top: 30px;
    }
    .bg-grey {
        padding: 40px 0;
    }
    .email-preferences .row .col-sm-2 .text-right {
        text-align: left;
        margin-bottom: 15px;
    }
    .table-responsive {
        border-top-color: rgba(33,35,112,0.1);
        padding: 15px;
    }
    .member-directory .member-row {
        flex-wrap: wrap;
    }
    .member-directory .member-row > .col-sm-3:nth-child(2) {
        flex-basis: calc(100% - 70px);
    }
    .member-directory .member-row > .col-sm-3:nth-child(3) {
        flex-basis: 50%;
    }
    .member-directory .member-row > .col-sm-4 {
        flex-basis: 50%;
    }
    div[id*='ItemRating'].CommentPanel {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .event-list img {
        margin-top: 20px;
    }
    .DiscussionContentContainer  .pnl-row-item .col-sm-10 {
        padding: 0 15px;
    }
    .DiscussionContentContainer .text-center {
        text-align: left;
        padding-left: 15px;
    }
    .library-entry .col-md-10 .col-md-2.text-center {
        text-align: left;
    }
    .library-entry > .row-wide {
        position: relative;
    }
    .library-entry > .row-wide > .col-md-2 {
        position: absolute;
        right: 80px;
        top: -5px;
    }
}

@media (max-width: 650px) {
    .member-dashboard::after,
    .page-heading::after {
        background-size: 100% auto;
        top: auto;
        height: 250px;
    }
    .member-dashboard .make-buttons {
        flex-basis: calc(100% - 30px);
    }
    .text-muted-h2 a[id*="AllCommunities"] {
        position: relative;
        top: auto;
        right: auto;
        float: none !important;
        margin-top: 10px;
    }
}

@media (max-width: 550px) {
    .member-directory .member-row > .col-sm-3:nth-child(3) {
        flex-basis: 100%;
    }
    .member-directory .member-row > .col-sm-4 {
        flex-basis: 100%;
    }
}

@media (max-width: 480px) {
    a.btn-community-stats-static span.badge {
        width: auto;
        margin-top: 5px;
        border: none;
        margin-left: 0;
    }
    .my-communities a.btn-community-stats-static span.badge {
        margin-top: 0;
    }
    #ProfileContainer {
        width: 290px;
    }
}

@media (max-width: 450px) {
    .recent-discussions ul li {
        padding-left: 0;
    }
    .recent-discussions ul li .title-row .col-md-2.col-sm-2 {
        position: relative;
        left: auto;
        top: auto;
        width: 50px;
        margin-right: 20px;
        float: left;
    }
    .recent-discussions ul li .title-row .col-md-10.col-sm-10 {
        padding: 0;
        width: calc(100% - 70px);
        float: left;
    }
    h1, .h1 {
        font-size: 28px;
        line-height: 34px;
    }
    .hero {
        padding-top: 125px;
    }
    .hero::before {
        top: 55px;
    }
    .hero::after {
        background-image: url('https://hl-prod-ca-oc-download.s3-ca-central-1.amazonaws.com/CNA/203bfd2b-a19e-4cbf-a4b5-7811753a92a5/UploadedImages/Dev_Files/mobile.png');
        height: 125px;
        top: 0;
    }
}