#DesktopLogoDiv {
    width: 255px;
}

a[id*="NestedCommunity_BreadCrumbs"] {
    display: none
}

@media (min-width: 1151px) {
    #NAV {
        left: 300px;
        right: auto;
    }
}

@media (min-width: 1225px) {
    #NAV {
        right: 300px;
    }
}

#A1 {
    display: none;
}

.blogs-block span[id$="IconFollow"],
.blogs-block div[id$="pnlRating"] {
    display: none;
}

/***** NSH fix 23.02.24 for bootstrap update ******/

.col-md-12 {
    float: none;
}

/************ NSH fix 23.05.2024 for footer alignment ************/

#FOOTER {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/************ NSH fixes 09.12.2025 for whitespace in header ************/

#MPOuterHeader p {
    margin-bottom: 0;
}