#DesktopLogoDiv {
    width: 255px;
}

@media (max-width: 1400px) and (min-width: 992px) {

    #NAV {
        bottom: 10px;
    }

    #NAV .navbar-nav {
        float: right;
        max-width: 840px;
    }
}

#A1 {
    display: none;
}

.blogs-block span[id$="IconFollow"],
.blogs-block div[id$="pnlRating"] {
    display: none;
}

/************ NSH fix 23.05.2024 for footer alignment ************/

#FOOTER {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/************ NSH fixes 09.12.2025 for whitespace in header ************/

#MPOuterHeader p {
    margin-bottom: 0;
}